<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>example</display-name>
	<servlet>
		<servlet-name>login_page</servlet-name>
		<servlet-class>example.WebLogin</servlet-class> <!-- 패키지명 package.class -->
	</servlet>
	<servlet-mapping>
		<servlet-name>login_page</servlet-name>
		<url-pattern>/loginok.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>idsearch</servlet-name>
		<servlet-class>example.idsearch</servlet-class> <!-- 패키지명 package.class -->
	</servlet>
	<servlet-mapping>
		<servlet-name>idsearch</servlet-name>
		<url-pattern>/idsearch.do</url-pattern>
	</servlet-mapping>
</web-app>